{% extends 'main/base.html' %}
{% block content %}
    <h1>Student Dashboard</h1>
    <br>
    <br>
    <div class='content-section'>
        <div>
            <img class="img-thumbnail" src='{{ user.student.profile_img.url }}' style="width:100px;height:100px;">
            <!-- <img class="img-thumbnail" src='/media/profile_imgs/headshot_square.jpg'> -->
            <h2 class="account-heading">Hello {{ user.first_name }}!</h2>
            <p class='text-secondary'>{{ user.email }}</p>
            <br>
            <br>
            <h4>Current Grades:</h4>
            {% for grade in user.grades.all %}
            <h6>{{ grade.course }}: {{ grade.grade }}</h6>
            {% endfor %}
            <h4>Current Gpas:</h4>
            {% for gpa in user.gpa.all %}
            <h6>{{ gpa.gpa }}</h6>
            {% endfor %}
        </div>
    </div>
    <canvas id="myChart" width="400" height="180"></canvas>



    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart_data = JSON.parse("{{gpa_chart_json|escapejs}}");
    console.log(chart_data)
    console.log(chart_data.labels)
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: chart_data.labels,
            datasets: [{
                label: 'GPA',
                data: chart_data.data,
                fill: false,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    console.log(data);
    </script>




{% endblock %}